.tail {
  transform-origin: 160px 110px;
}

.dog:hover .tail {
  animation: wag 0.5s ease-in-out infinite alternate;
}

@keyframes wag {
  from {
    transform: rotate(-3deg);
  }
  to {
    transform: rotate(-3deg);
  }
}